.yart {
  border: 1px solid;
  height: 100%;
  position: relative;
  .yart-thead {
    display: flex;
    .yart-sortable {
      cursor: pointer;
    }
    .yart-th {
      flex: 100 0 auto;
    }
  }

  .yart-tbody {
    background-color: cornflowerblue;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    top: 45px;
  }

  .yart-row {
    display: flex;

    .yart-td {
      flex: 100 0 auto;
    }
  }
  .sm,
  .lg {
    display: none;
  }
  @media only screen and (min-width: 960px) {
    .sm {
      display: block;
    }
  }
  @media only screen and (min-width: 1500px) {
    .lg {
      display: block;
    }
  }
}
