.yart {
    border: 1px solid;

    .yart-thead {
        display: flex;
        
        .yart-th  {
            flex: 100 0 auto;
        }
    }

    .yart-row {
        display: flex;
        
        .yart-td  {
            flex: 100 0 auto;
        }
    }

}